/* common shared styles */

body{
    font-family: Lato;
}

.primary-button{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 18px 40px;
    color: white;
    
}


/* Header related styles */

.header{
    background-color: rgba(229, 84, 115, 0.10);
    
}

.banner{
    display: flex;
    align-items: center;
    padding: 55px 55px 0 100px;
    margin-bottom: 120px;
}

.banner .banner-img{
    width: 500px;
    position: bottom left;
}

.banner-title{
    font-size: 70px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);

}


/* featured related styles */

.featured-content{
    text-align: center;
}

.featured-images-container{
    display: flex;
    align-items: center;
    margin: 120px 100px 120px 100px;
    text-align: center;
    gap: 30px;
}

#flower-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px;
    
    
}

#flower-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 78px 10px 79px 10px;
    
    
}

#flower-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 28px;
    
}

.featured-content-title{
    font-size: 40px;
}

.featured-content-description{
    color: rgba(39, 39, 39, 0.60);
}

.featured-images > h6{
    font-size: 24px;
    text-decoration: underline;
}

.services-container{
    display: flex;
    justify-content: space-around;
    padding: 80px 150px;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 120px 120px 120px;
}

.services-description{
    color: rgba(39, 39, 39, 0.80);
}